body {
  background-image: url(images\ \(8\).jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-size: 130svh; */
  /* width: 100px */
}

.Games {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 100px;
  font-family: system-ui;
  font-weight: bold;
}

.title {
  background-color: rgb(59, 16, 21);
  color: aqua;
  padding: 10px 0;
  margin-bottom: 12px;
  border: 3px solid rgb(253, 203, 111);
  border-top-left-radius: 120px;
  border-bottom-right-radius: 120px;
}
.title span {
  color: #fe3;
}

.squire {
  overflow: hidden;
  width: 455px;
  height: 170px;
  background-image: radial-gradient(rgb(212, 207, 186), transparent);
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin: 20px;
  border: 3px solid rgb(253, 203, 111);
  border-radius: 20px;
}
.squire:hover {
  background-color: black;
  cursor: pointer;
}

.grop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
